body{
    background-color: #F294CD ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

div {
    border-top: double;
}
.linking {
    font-size: medium;
}
.kelas {
    font-size: small;
}
#bio {
    font-size: xx-large;
   text-decoration: underline;
}